.animated-text {
    /* font-size: 1rem; */
    font-family: cursive;
    white-space: nowrap;
    overflow: hidden;
    /* animation: typing 3s steps(30) infinite; */
}

@keyframes  typing {
    from {
        width: 0;
    }
    to {
        width: 35ch;
    }
}

@keyframes blink {
    from {
        border-right-color: white;
    }
    to {
        border-right-color: transparent;
    }
}

#header {
    /* position: fixed; */
    margin: 0;
    margin-left: 10%;
    animation: typing 5s steps(30) infinite;
}

/* .title {
    font-style: italic;
    text-align: center;
    font-size: 16px;
    font-weight: 900;
    animation: typing 3s steps(10) infinite;
    display: flex;

} */
footer {
    position: relative;
    height: 100px;
}
footer div {
    text-align: right;
    right: 0px;
}
footer p {
    position: relative;
    margin: 0;
    padding: 0;
    font-size: 13px;
    /* right: 20px; */
    /* padding-right: 30px; */
}
.followus {
    display: flex;
    align-items: center;
    position: absolute;
    /* right: 30px; */
    /* right: 20px; */
    gap: 10px;
}
/* .followus {
    position: fixed;
    display: flex;
    align-items: center;
    gap: 10px;
    right: 30px;
    bottom: 10px;
} */
.followus p {
    font-size: 1rem;
    margin: 0;
}
.followus a {
    border-radius: 50%;
    width: 30px;
    height: 30px;
    padding: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    /* background-color: rgb(64, 233, 42); Optional: Add a background color for better visibility */
    background-color: #bf9652;
}
.followus a i {
    width: 60%;
    height: 60%;
    display: block;
    background-size: cover;
    background-position: center;
}
.followus a i.twitter-x{
    background-image: url('../icon/twitter-x.svg');
}
.followus a i.facebook {
    background-image: url('../icon/facebook.svg');
}
.followus a i.youtube {
    background-image: url('../icon/youtube.svg');
}
.followus a i.instagram {
    background-image: url('../icon/instagram.svg');
}