body {
    font-family: Arial, sans-serif;
    background-color: #FFE4E1;
    background-image: url(../icon/bg-peacockfeather.png);
    background-attachment: fixed;
    /* background-position: bottom left 0 30%; */
    background-blend-mode: color-burn;
    background-position: top left;
    background-repeat: no-repeat;
    background-size: 400px 300px;
}
#drawer {
    display: none;
}
#header, #laptopmenu {
    display: block;
}
#laptopmenu {
    width: 20%;
    height: 70%;
    background-color: #FFE4B5;
    background-image: url(../icon/scroll1.png), url(../icon/peacockfeather.png);
    background-blend-mode: normal, normal;
    background-repeat: no-repeat, no-repeat;
    background-position: top left, bottom left;
    background-size: 45px 45px, 170px 170px;
    position: fixed; 
    right: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    /* border-radius: 8px; */
    border-radius: 20px 70px 15px 145px;
    box-sizing: border-box;
}
/* #laptopmenu li a {
    user-select: text;
} */
/* spinner */
#loading-spinner {
    display: flex;
    align-items: center;
    justify-content: center;
    top: 10%;
    /* height: 100vh; */
    margin: 0;
    position: relative;
    width: 100%;
}
#loading-spinner img {
    width: 30px;
    height: 30px;
}

.tool-list {
    list-style: circle;
    list-style-position: inside;
    padding: 0;
    margin: 0;
}

.tool-list li {
    padding: 3px;
    text-align: start;
    padding-left: 20%;
}

.tool-list li a {
    color: black;
    font-size: 1em;
    font-family: cursive;
    text-decoration: none;
}

.tool-list li a:hover {
    /* background-color: #E6E6FA; */
    background-color: #CD5C5C;
}

#main-container {
    min-height: 100vh;
}